* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    background-color: rgb(255, 251, 251);
    border-radius: 7px;
    border: 1px solid rgb(211, 208, 208);
    height: auto;
}
.listing {
    padding: 7px;
    margin: 0;
}
.listing input { 
    padding: 7px;
}
button {
    background-color: rgb(3, 143, 3);
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin-left: -5.5px;
    cursor: pointer;
    font-weight: bolder;
}
.header {
    background-color: rgb(3, 81, 133);
    border-radius: 7px;
}
.header h1 {
    color: #fff;
    text-align: center;
}
h2 {
    padding: 5px;
}
