* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    background-color: rgb(255, 251, 251);
    border-radius: 7px;
    border: 1px solid rgb(211, 208, 208);
    height: 378px;
    overflow-y: auto;
}
.listing {
    padding: 7px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.listing input { 
    width: 89%;
}
button {
    background-color: rgb(3, 143, 3);
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin-left: -5.5px;
    cursor: pointer;
    font-weight: bolder;
}
.header {
    background-color: rgb(3, 81, 133);
    border-radius: 7px;
}
.header h1 {
    color: #fff;
    text-align: center;
}
h2 {
    padding: 5px;
}
.linethrough {
    text-decoration: line-through;
}
.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.buttons {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}
.buttons-visible {
    visibility: visible;
}
.buttons-disabled {
    cursor: not-allowed;
}
.popup-message {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(238, 234, 234);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    display: none;
    border-radius: 7px;
}
.popup-message p {
    margin: 2rem 0;
}
.display-block {
    display: block;
}
